.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-row {
  display: flex;
  justify-content: right;
}

.contact-row span {
  font-size: 15px;
  padding: 5px;
}

.social-icons {
  display: flex;
  justify-content: right;
}

.social-icons a {
  font-size: 15px;
  padding: 5px;
  margin-right: 5px;
  color: white;
}

.social-icons a:hover {
  color: rgb(195, 0, 255);
}

.contact-row:hover {
  color: rgb(195, 0, 255);
}
