.home {
  font-family: "Arial", sans-serif;
  color: #000000;
  background-color: #f9f9f9;
}

/* Hero */
.hero {
  background: #c800ff;
  color: white;
  text-align: center;
  padding: 1.3rem 1rem;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
}

.home-logo {
  height: 80px;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
}

/* About */
.about {
  text-align: center;
  padding: 3rem 1rem;
}

.about p {
  max-width: 700px;
  margin: 0 auto 1.5rem;
  font-size: 1.1rem;
}

.primary-button {
  background-color: #ff0077;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.primary-button:hover {
  background-color: #c800ff;
}

/* Quick Links */
.quick-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
  text-align: center;
}

.link-card {
  background: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.link-card:hover {
  transform: translateY(-5px);
}

.link-card img {
  height: 50px;
  margin-bottom: 0.8rem;
}

.link-card h3 {
  margin-bottom: 0.5rem;
  color: #ff0077;
}

.link-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Sponsors */
.sponsors {
  padding: 3rem 1rem;
  background: #ffffff;
  text-align: center;
}

.sponsor-carousels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* CTA */
.cta {
  /*background-color: #e6effa;*/
  text-align: center;
  padding: 3rem 1rem;
}

.cta p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.upcoming-matches {
  text-align: center;
  padding: 2rem 1rem;
  background: #f9f9f9;
}

.upcoming-matches h2 {
  margin-bottom: 1.5rem;
  color: black;
}

.matches-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.match-card {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.match-card h3 {
  margin-bottom: 0.5rem;
  color: #0066cc;
}
