.carousel-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 70px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 10px;
  flex-shrink: 0;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-image.active {
  opacity: 1;
  z-index: 1;
}
@media (max-width: 768px) {
  .carousel-container {
    max-width: 180px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    max-width: 140px;
    height: 50px;
  }
}
