.sponsors-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: "Segoe UI", sans-serif;
}

.page-title-header {
  font-size: 2.2rem;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.section-title {
  font-size: 2.2rem;
  color: #333;
  text-align: center;
  margin: 50px 0 30px;
}
