.hero {
  background-image: url("/background/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 1.3rem 1rem;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
}

.home-logo {
  height: 80px;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
}
