.navbar {
  background: linear-gradient(90deg, #c300ff, #6a00ff);
  color: white;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  position: relative;
  z-index: 10;
}

.navbar-logo {
  width: 60px;
  height: 50px;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background: linear-gradient(90deg, #c300ff, #6a00ff);

  color: white;
  padding: 1rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.sidebar-contact {
  margin-top: auto;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 15;
}

@media screen and (max-width: 1170px) {
  .navbar-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.navbar-right {
  margin-left: auto;
}

@media screen and (max-width: 1170px) {
  .navbar-left {
    display: none;
  }

  .navbar-right {
    display: none;
  }
}
